In [4]:
import pandas as pd

df = pd.read_csv(r"D:\depi data engineering\project data engineer\couches premier league edited.csv")

In [24]:
df

,Manager,Nationality,Club,Appointed,Time as manager,Salary (million)
0,Pep Guardiola,Spain,Manchester City,2016-07-01,"8 years, 130 days",20.0
1,Thomas Frank,Denmark,Brentford,2018-10-16,"6 years, 23 days",4.5
2,Mikel Arteta,Spain,Arsenal,2019-12-20,"4 years, 324 days",15.0
3,Marco Silva,Portugal,Fulham,2021-07-01,"3 years, 130 days",4.0
4,Eddie Howe,England,Newcastle United,2021-11-08,"3 years, 0 days",4.0
5,Kieran McKenna,Northern Ireland,Ipswich Town,2021-12-16,"2 years, 328 days",3.0
6,Unai Emery,Spain,Aston Villa,2022-11-01,"2 years, 7 days",8.0
7,Sean Dyche,England,Everton,2023-01-30,"1 year, 283 days",5.0
8,Ange Postecoglou,Australia,Tottenham Hotspur,2023-06-06,"1 year, 155 days",5.0
9,Andoni Iraola,Spain,Bournemouth,2023-06-19,"1 year, 142 days",1.0
10,Russell Martin,Scotland,Southampton,2023-06-21,"1 year, 140 days",2.0
11,Gary O'Neil,England,Wolverhampton Wanderers,2023-08-09,"1 year, 91 days",1.5
12,Nuno Espirito Santo,Portugal,Nottingham Forest,2023-12-20,324 days,2.0
13,Oliver Glasner,Austria,Crystal Palace,2024-02-19,263 days,4.5
14,Arne Slot,Netherlands,Liverpool,2024-06-01,160 days,6.2
15,Enzo Maresca,Italy,Chelsea,2024-06-03,158 days,4.2
16,Fabian Hurzeler,Germany,Brighton & Hove Albion,2024-06-15,146 days,2.0
17,Steve Cooper,Wales,Leicester City,2024-06-20,141 days,3.0
18,Julen Lopetegui,Spain,West Ham United,2024-07-01,130 days,3.4
19,Erik ten Hag,Netherlands,Manchester United,2022-07-01,"2 years,120 days",10.0

In [7]:
df.dtypes

Manager            object
Nationality        object
Club               object
Appointed          object
Time as manager    object
Salary             object
dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Manager          20 non-null     object
 1   Nationality      20 non-null     object
 2   Club             20 non-null     object
 3   Appointed        20 non-null     object
 4   Time as manager  20 non-null     object
 5   Salary           20 non-null     object
dtypes: object(6)
memory usage: 1.1+ KB

In [16]:
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
df['Appointed'] = pd.to_datetime(df['Appointed'], format='%d-%b-%y', errors='coerce')

In [26]:
df['Salary (million)'] = df['Salary'].str.replace(' million', '').astype(float)
df.drop(columns=['Salary'], inplace=True)

KeyError: 'Salary'

In [28]:
df

,Manager,Nationality,Club,Appointed,Time as manager,Salary (million)
0,Pep Guardiola,Spain,Manchester City,2016-07-01,"8 years, 130 days",20.0
1,Thomas Frank,Denmark,Brentford,2018-10-16,"6 years, 23 days",4.5
2,Mikel Arteta,Spain,Arsenal,2019-12-20,"4 years, 324 days",15.0
3,Marco Silva,Portugal,Fulham,2021-07-01,"3 years, 130 days",4.0
4,Eddie Howe,England,Newcastle United,2021-11-08,"3 years, 0 days",4.0
5,Kieran McKenna,Northern Ireland,Ipswich Town,2021-12-16,"2 years, 328 days",3.0
6,Unai Emery,Spain,Aston Villa,2022-11-01,"2 years, 7 days",8.0
7,Sean Dyche,England,Everton,2023-01-30,"1 year, 283 days",5.0
8,Ange Postecoglou,Australia,Tottenham Hotspur,2023-06-06,"1 year, 155 days",5.0
9,Andoni Iraola,Spain,Bournemouth,2023-06-19,"1 year, 142 days",1.0
10,Russell Martin,Scotland,Southampton,2023-06-21,"1 year, 140 days",2.0
11,Gary O'Neil,England,Wolverhampton Wanderers,2023-08-09,"1 year, 91 days",1.5
12,Nuno Espirito Santo,Portugal,Nottingham Forest,2023-12-20,324 days,2.0
13,Oliver Glasner,Austria,Crystal Palace,2024-02-19,263 days,4.5
14,Arne Slot,Netherlands,Liverpool,2024-06-01,160 days,6.2
15,Enzo Maresca,Italy,Chelsea,2024-06-03,158 days,4.2
16,Fabian Hurzeler,Germany,Brighton & Hove Albion,2024-06-15,146 days,2.0
17,Steve Cooper,Wales,Leicester City,2024-06-20,141 days,3.0
18,Julen Lopetegui,Spain,West Ham United,2024-07-01,130 days,3.4
19,Erik ten Hag,Netherlands,Manchester United,2022-07-01,"2 years,120 days",10.0

In [30]:
df.to_csv('cleaned_managers.csv', index=False)

In [31]:
df

,Manager,Nationality,Club,Appointed,Time as manager,Salary (million)
0,Pep Guardiola,Spain,Manchester City,2016-07-01,"8 years, 130 days",20.0
1,Thomas Frank,Denmark,Brentford,2018-10-16,"6 years, 23 days",4.5
2,Mikel Arteta,Spain,Arsenal,2019-12-20,"4 years, 324 days",15.0
3,Marco Silva,Portugal,Fulham,2021-07-01,"3 years, 130 days",4.0
4,Eddie Howe,England,Newcastle United,2021-11-08,"3 years, 0 days",4.0
5,Kieran McKenna,Northern Ireland,Ipswich Town,2021-12-16,"2 years, 328 days",3.0
6,Unai Emery,Spain,Aston Villa,2022-11-01,"2 years, 7 days",8.0
7,Sean Dyche,England,Everton,2023-01-30,"1 year, 283 days",5.0
8,Ange Postecoglou,Australia,Tottenham Hotspur,2023-06-06,"1 year, 155 days",5.0
9,Andoni Iraola,Spain,Bournemouth,2023-06-19,"1 year, 142 days",1.0
10,Russell Martin,Scotland,Southampton,2023-06-21,"1 year, 140 days",2.0
11,Gary O'Neil,England,Wolverhampton Wanderers,2023-08-09,"1 year, 91 days",1.5
12,Nuno Espirito Santo,Portugal,Nottingham Forest,2023-12-20,324 days,2.0
13,Oliver Glasner,Austria,Crystal Palace,2024-02-19,263 days,4.5
14,Arne Slot,Netherlands,Liverpool,2024-06-01,160 days,6.2
15,Enzo Maresca,Italy,Chelsea,2024-06-03,158 days,4.2
16,Fabian Hurzeler,Germany,Brighton & Hove Albion,2024-06-15,146 days,2.0
17,Steve Cooper,Wales,Leicester City,2024-06-20,141 days,3.0
18,Julen Lopetegui,Spain,West Ham United,2024-07-01,130 days,3.4
19,Erik ten Hag,Netherlands,Manchester United,2022-07-01,"2 years,120 days",10.0

In [ ]:
df.to_csv('cleaned_managers.csv', index=False)